<launch>
    <!-- Arguments -->
    <arg name="model" default="mecanum"/>
    <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
    <arg name="set_base_frame" default="base_footprint"/>
    <arg name="set_odom_frame" default="odom"/>
    <arg name="set_map_frame"  default="map"/>
    <arg name="open_rviz" default="true"/>
  
    <!-- Gmapping -->
    <node name="python_gmapping" pkg="mecanum_robot_slam"  type="gmapping_python_rviz.py" output="screen"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find mecanum_robot_slam)/rviz/python_gmapping.rviz"/>
  </group>

  </launch>
  