<launch>
    <!-- Arguments -->
    <arg name="model" default="mecanum"/>
    <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
    <arg name="set_base_frame" default="base_footprint"/>
    <arg name="set_odom_frame" default="odom"/>
    <arg name="set_map_frame"  default="map"/>
    <arg name="open_rviz" default="true"/>
    <arg name="map_file" default="$(find mecanum_robot_slam)/maps/house/map.yaml"/>
  
    <!-- Gmapping -->
    <!-- <node name="python_create_ogrid_map" pkg="mecanum_robot_slam"  type="make_ogrid_python_rviz.py" output="screen"/> -->

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <node name="trans_TF_map_to_odom" pkg="mecanum_robot_slam"  type="TF_map_to_odom.py" output="screen"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find mecanum_robot_slam)/rviz/python_mcl.rviz"/>
  </group>

  </launch>
  
